@page "/Statistik"

@using ordinationsapp.Data;
@using shared.Model;
@using ordinationsapp.Shared
@using ordinationsapp.Model;
@inject ApiService apiService   


<style>
    .card-header {
        background-color: #f8f9fa;
        font-weight: bold;
    }

    .card-body {
        padding: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;   

    }
</style>

<div class="container">
    <h1 class="mt-4">Vis statistik</h1>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    <h3>Antal ordinationer</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="vægtfra">Vægt fra:</label>
                        <input type="number" class="form-control" id="vægtfra" @bind="vægtFra">
                    </div>
                    <div class="form-group">
                        <label for="vægttil">Vægt til:</label>
                        <input type="number" class="form-control" id="vægttil" @bind="vægtTil">
                    </div>
                    <div class="form-group">
                        <label for="laegemiddel">Lægemiddel:</label>
                        <select class="form-control" id="laegemiddel" @bind="laegemiddelId">
                            @foreach (var laegemiddel in laegemidler)
                            {
                                <option value="@laegemiddel.LaegemiddelId">@laegemiddel.navn</option>
                            }
                        </select>
                    </div>
                    <button class="btn btn-primary" @onclick="HentStatistik">Hent statistik</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    <h3>Resultat</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="antal">Givet til antal Patienter:</label>
                        <input readonly type="number" class="form-control" id="antal" @bind="antal">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h3>Total ordinationer pr. lægemiddel</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        @foreach (var item in totalPrLægemiddel)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                @item.Key
                                <span class="badge badge-primary badge-pill" style="color:black">@item.Value</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private double? vægtFra = null;
    private double? vægtTil = null;
    private int laegemiddelId;
    private int antal;
    private Laegemiddel[] laegemidler = Array.Empty<Laegemiddel>();
    private Dictionary<string, double> totalPrLægemiddel = new Dictionary<string, double>();

    protected override async Task OnInitializedAsync()
    {
        laegemidler = await apiService.GetLaegemidler() ?? Array.Empty<Laegemiddel>();
        totalPrLægemiddel = await apiService.GetTotalMængdeOrdineretPrLægemiddel();
    }

    private async Task HentStatistik()
    {
        StatistikDTO dto = new StatistikDTO(vægtFra ?? 0, vægtTil ?? 999, laegemidler.First(l => l.LaegemiddelId == laegemiddelId).navn);
        antal = await apiService.GetAntalOrdinationer(dto);
    }
}